
  <article>
    <div *ngIf="index === 0 ; else noPriority">
      <img *ngIf="match.image.split('upload/').pop()" ngSrc="{{match.image.split('upload/').pop()}}" alt="Paddle court image" width="280" height="280" priority=""/>
    </div>
    <ng-template #noPriority>
      <img *ngIf="match.image.split('upload/').pop()" ngSrc="{{match.image.split('upload/').pop()}}" alt="Paddle court image" width="280" height="280" />
    </ng-template>
    <div class="info">
      <div class="info__date">
        <i></i>
        <span>{{ match.date | date : "EEEE dd', 'hh:mm a" }}</span>
      </div>
      <div class="info__category">
        <i></i>
        <span>{{ match.level }} {{ match.category }}</span>
      </div>
      <div class="info__spots">
        <span
          *ngIf="
            match.allowedPlayersNumber - match.signedPlayersNumber > 0;
            else noSpots">
          {{ match.allowedPlayersNumber - match.signedPlayersNumber }} spots
          left!</span>
        <ng-template #noSpots>
          <label class="info__spots__no-spots">No spots left!</label>
        </ng-template>
      </div>
    </div>
    <div class="actions" *ngIf="email$ | async as email">
        <button class="actions__edit" (click)="onDelete(match)" [attr.aria-label]=deleteAriaLabel *ngIf="email === match.creator">
          <i></i>
        </button>
    </div>
  </article>
