:host {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 50px;
  width: 100vw;
  min-height: 100vh;
  padding: 135px 0 135px 0;
}
