<h1>Create a match</h1>

<form>
  <label>
    Day
    <input type="date" name="date">
  </label>
  <label>
    Hour
    <input type="time" name="" id="">
  </label>
  <label>
    Level
    <div class="arrow-select">
      <select name="level">
          <option value="">Select a level</option>
          <option value="1">1.0</option>
          <option value="2">2.0</option>
          <option value="3">3.0</option>
          <option value="4">4.0</option>
      </select>
    </div>
  </label>
  <label>
    Category
    <div class="arrow-select">
      <select name="category">
          <option value="">Select a category</option>
          <option value="mixt">mixt</option>
          <option value="masculine">masculine</option>
          <option value="feminine">feminine</option>
      </select>
    </div>
  </label>
  <label>
    Number of players
    <div class="arrow-select">
      <select name="number-players">
        <option value="">Select a number of players</option>
        <option value="2">2</option>
        <option value="4">4</option>
      </select>
    </div>
  </label>
  <label>
    Court
    <div class="arrow-select">
      <select name="court">
        <option value="">Select a number of players</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>
  </label>
  <label>
    Image
      <input type="url" name="image" pattern="https://.*" placeholder="https://paddle-court.com" >
  </label>
  <button>Create a match</button>
</form>
