<h1>Create a match</h1>

<form [formGroup]="createForm" autocomplete="off" (ngSubmit)="onSubmit()" novalidate>
  <label>
    Date
    <input type="datetime-local" name="date" formControlName="date" value="{{date | date: 'full'}}" required>
  </label>
  <label>
    Level
    <div class="arrow-select">
      <select name="level" formControlName="level" required>
          <option *ngFor="let level of levels" [value]="level">{{level}}</option>
      </select>
    </div>
  </label>
  <label>
    Category
    <div class="arrow-select">
      <select name="category" formControlName="category" required>
          <option *ngFor="let category of categories" [value]="category">{{category}}</option>
      </select>
    </div>
  </label>
  <label>
    Number of players
    <div class="arrow-select">
      <select name="number-players" formControlName="allowedPlayersNumber" required>
        <option *ngFor="let selected of allowedPlayersNumber" [value]="selected">{{selected}}</option>
      </select>
    </div>
  </label>
  <label>
    Court
    <div class="arrow-select">
      <select name="court" formControlName="paddleCourt" required>
        <option *ngFor="let court of paddleCourt">{{court}}</option>
      </select>
    </div>
  </label>
  <label>
    Image
      <input type="url" name="image" formControlName="image" pattern="https://.*" placeholder="https://paddle-court.com" required>
  </label>
  <button type="submit" [disabled]="createForm.invalid">Create a match</button>
</form>
