<form
  [formGroup]="loginForm"
  autocomplete="off"
  (ngSubmit)="onSubmit()"
  novalidate
>
  <label>
    Email
    <input
      type="email"
      formControlName="email"
      placeholder="Introduce your email"
      name="email"
      required
      (input)="loginFailed = false"
    />
    <span
      class="error-message"
      *ngIf="
        loginForm.controls['email'].dirty &&
        loginForm.hasError('required', 'email')
      "
      >*Email is required</span
    >
  </label>
  <label>
    Password
    <input
      type="password"
      formControlName="password"
      placeholder="Introduce your password"
      name="password"
      required
      (input)="loginFailed = false"
    />
    <span
      class="error-message"
      *ngIf="
        loginForm.controls['password'].dirty &&
        loginForm.hasError('required', 'password')
      "
      >*Password is required</span
    >
    <span *ngIf="loginFailed" class="error-message"
      >Invalid login credentials</span
    >
  </label>
  <button class="login-button" type="submit" [disabled]="loginForm.invalid">
    Log in
  </button>
  <div class="sign-up">
    Haven't you played here? <a href="Sign up">Sign up</a>
  </div>
</form>
<div class="background-image"></div>
